apiVersion: v1
kind: Service
metadata:
  name: clustercost-dashboard
  namespace: clustercost
  labels:
    app: clustercost-dashboard
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      protocol: TCP
    - name: grpc
      port: 9091
      targetPort: 9091
      protocol: TCP
  selector:
    app: clustercost-dashboard
